.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center; 
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-md-4 {
    flex: 0 0 30%;
    max-width: 30%;
    margin: 1%;
}

.video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.botão {
    background-color: #000000; 
    border: none; 
    padding: 15px 30px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 13px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 50px;
    margin: 0 auto; 
}
